<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/home}">	SOFTWARE ENGINEERING</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/week1}">Week1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/week2}">Week2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/week3}">Week3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/week4}">Week4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/week5}">Week5</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/week6}">Week6</a>
                </li>
            </ul>
        </div>
    </nav>
</header>