<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <h1 class="display-4 my-font" th:text="Week7"></h1>
        <d><a href="https://drive.google.com/file/d/1kU6iMITcQZ54bbr_OkBpfRWdySYCojD0/view">Slide Week7</a></d>
        <h5><a href="https://docs.google.com/document/d/1bFYlD3Z7aBlZHr4K8-ACC-dIA3XnCkg3sYhNb9MzY-0/edit">Lab Sheet</a></h5>
    </div>
    <h1>Spring Framework</h1>
    <div class="jumbotron">
        <h3>1.Spring IoC</h3>
        <h4><a href="https://drive.google.com/file/d/186LZl72rsX40Ltdgq2SnXBi1GEkbZe_5/view?usp=sharing">Video</a></h4>
        <h3>2.Maven</h3>
        <h4><a href="https://drive.google.com/file/d/1MpNaH2IaPn_Tha4zwVd0RTwT2Uoi9wIv/view?usp=sharing">Video</a></h4>
        <h3>3.Code Config</h3>
        <h4><a href="https://drive.google.com/file/d/1LaXta9pGS1BzRTSXVfHBjhljCp3DS_Kp/view?usp=sharing">Video</a></h4>
        <h3>4.Spring Annotation</h3>
        <h4><a href="https://drive.google.com/file/d/1ZZtFMK8HQycDQLNeJwnUwCfeucVkVb4a/view?usp=sharing">Video</a></h4>
        <h3>5.Spring XML</h3>
        <h4><a href="https://drive.google.com/file/d/1cAav3TKWe7IrRLa_fcR0-5wP3nzydR6L/view?usp=sharing">Video</a></h4>
        <h3>6.การเปรียบเทียบ Spring IoC แต่ละแบบ</h3>
        <h4><a href="https://drive.google.com/file/d/1vN64xQ1P98SaMduanACnY6K0loACP5KX/view?usp=sharing">Video</a> </h4>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap.min.js}"></script>

</body>
</html>