<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <h1 class="display-4 my-font" th:text="Week1"></h1>
    </div>
    <h1>Software as a service (SaaS) and Cloud computing</h1>
    <div class="jumbotron">
        <h3>Cloud Computing 1</h3>
        <p><a href="https://drive.google.com/file/d/1glUPOKAgT66JBUpYV0H8aDkC0b-TqHKG/view?usp=sharing">Learn</a></p>
        <h3>Cloud Computing 2</h3>
        <p><a href="https://drive.google.com/file/d/1l1xwiCCdKsssHLFJ99r4CXVqZRqF8Ok2/view?usp=sharing">Learn</a></p>
        <h3>Cloud Computing 3</h3>
        <p><a href="https://drive.google.com/file/d/16u06eVi7rbnJB7bC-oqErkL8ky6E6U_x/view?usp=sharing">Learn</a></p>
        <h3>Cloud Computing 4</h3>
        <p><a href="https://drive.google.com/file/d/1QfJpKnjiapokk8vWjGV7QJsL_NvZMxj3/view?usp=sharing">Learn</a></p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap.min.js}"></script>

</body>
</html>