<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <h1 class="display-4 my-font" th:text="Week9"></h1>
        <h5><a href="https://docs.google.com/document/d/1VcRDB_2Op2K8jAjsCOQwKI_pF5yLJ9sgnGJQhDLg8w4/edit">Lab Sheet</a></h5>
    </div>
    <h1>Spring Web Frontend with Thymeleaf</h1>
    <div class="jumbotron">
        <h3>1.Spring Thymeleaf Introduction</h3>
        <h4><a href="https://drive.google.com/file/d/1fjbavmm3ipRGjHX8g1YaZmN19utbq8Ch/view?usp=sharing">Video</a></h4>
        <h3>2.Spring Thymeleaf Homepage</h3>
        <h4><a href="https://drive.google.com/file/d/1QJbjbzH9QMUPKOvwvLxAiNgUUWPNUTpW/view?usp=sharing">Video</a></h4>
        <h3>3.Live Reload and Port Setting</h3>
        <h4><a href="https://drive.google.com/file/d/1KM7u9Dk2qMJewM4wqqn1R3CI1YQT8yXd/view?usp=sharing">Video</a></h4>
        <h3>4.Spring Thymeleaf Home Attribute</h3>
        <h4><a href="https://drive.google.com/file/d/1RzaPcdhxcwzsZ78UDAcHTS5ANII1vttG/view?usp=sharing">Video</a></h4>
        <h3>5.Spring Thymeleaf For Each</h3>
        <h4><a href="https://drive.google.com/file/d/1b3A7jRozWeTcESQrg3OIoTrJuX_cBYxg/view?usp=sharing">Video</a></h4>
        <h3>6.Spring Thymeleaf Object Passing</h3>
        <h4><a href="https://drive.google.com/file/d/1D0xQkLsJa4S3Uj_bgxYaTdmuPbOOQQxx/view?usp=sharing">Video</a></h4>
        <h3>7.Spring Thymeleaf Form</h3>
        <h4><a href="https://drive.google.com/file/d/1hHZlyPg31TbYk2u3hZPpWOldZSkVvUIN/view?usp=sharing">Video</a></h4>
        <h3>8.Spring Thymeleaf Refactor</h3>
        <h4><a href="https://drive.google.com/file/d/17WZS-rZckjbAqT7WU1JNCndf0ZFM0H0z/view?usp=sharing">Video</a></h4>
        <h3>9.Bootstrap (ทำเว็บให้สวยขึ้น)</h3>
        <h4><a href="https://drive.google.com/file/d/12GnhP1qyhUL_qjKyVUDU-JCjVIhjCs_y/view?usp=sharing">Video</a></h4>
        <h3>10.จัด Layout ของหน้าเว็บ</h3>
        <h4><a href="https://drive.google.com/file/d/1CKTT1PBp3gZ4j65JETyY-nkDVZWxR5BE/view?usp=sharing">Video</a></h4>
        <h3>11.การ Hash พาสเวิร์ด</h3>
        <h4><a href="https://drive.google.com/file/d/1vLh2reNbW30d5IfchyK0wRiwYf0Wg77O/view?usp=sharing">Video</a></h4>
        <h3>12.การล็อคอิน</h3>
        <h4><a href="https://drive.google.com/file/d/1_wsOEP5s9Ie7SpOfEgXeM0jVRtxmjzQC/view?usp=sharing">Video</a></h4>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap.min.js}"></script>

</body>
</html>